.movieOverviewBox {
  animation: fadeIn 0.9s ease-out;
}

@keyframes fadeIn {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.trailersBox {
  animation: slideInFromRight 1s ease-out;
}

.trailersBox:hover > div:not(:hover) {
  opacity: 0.5;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.playIcon {
  width: 25px;
  height: 25px;
  background: white;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  transform: translate(-45%, -50%) rotate(90deg);
}
