.relatedTrailerBox::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

.relatedTrailerBox::-webkit-scrollbar-track {
  background: black;
  border-radius: 10px;
}

.relatedTrailerBox::-webkit-scrollbar-thumb {
  height: 2px;
  background: #888;
  border-radius: 10px;
}
.relatedTrailerBox::-webkit-scrollbar-thumb:hover {
  background: #555;
  cursor: grabbing;
}

.playIcon {
  width: 25px;
  height: 25px;
  background: white;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  transform: translate(-45%, -50%) rotate(90deg);
}
